// Input Number
.el-input-number.el-input-number--large {
  @apply h-10 w-28;

  .el-input__wrapper {
    @apply rounded-lg;

    &:hover {
      @apply border-brand-primary;
    }

    &.is-focus {
      @apply border-brand-primary;
    }
  }

  &.is-controls-right {
    .el-input-number__decrease,
    .el-input-number__increase {
      @apply border-brand-primary bg-transparent text-brand-primary;
      border-left: 2px solid var(--el-border-color);

      &:hover {
        @apply bg-brand-primary text-white;
      }
    }
  }

  .el-input__inner {
    @apply text-center;
  }
}

// Form Input
.el-input {
  .el-input__wrapper {
    @apply bg-black-100 dark:bg-gray-500;
    border-radius: 8px;
    padding: 4px 8px;
    transition: border-color 0.3s ease;
    box-shadow: none;

    &:hover {
      @apply border-brand-primary;
      box-shadow: none;
    }

    &.is-focus {
      @apply border-brand-primary;
      box-shadow: none;
    }
  }

  .el-input__inner {
    @apply text-black-900 dark:text-white;
    font-size: 14px;
    height: 30px;

    &::placeholder {
      @apply text-black-400 dark:text-black-300;
      font-size: 14px;
    }
  }
}

// .search-header {
//   @apply mb-4 flex w-full items-center lg:w-1/4  ;
// }
